<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>SisPedidos - SMEC</title>
</head>
<body>
	<h1>Novo Usuário</h1>
	<form action="/usuarios" method="post">

		<div>
			<label>Nome:</label><input type="text" name="nome">
		</div>

		<div>
			<label>Login:</label><input type="text" name="login">
		</div>

		<div>
			<label>Senha:</label><input type="text" name="senha">
		</div>

 <label>Defina o perfil de acesso:</label>
  <select class="browser-default"  name = "roles" id="perfil">
   
    <option value="" disabled selected>Escolha o perfil de acesso:</option>
    <option value="ROLE_DIR">Diretor</option>
    <option value="ROLE_ALM">Chefe de Almoxarifado</option>
  </select>

		<div>
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
					<button class="waves-effect waves-light btn" type="reset">Limpar</button>
		</div>
	
	</form>
	<h2>
	
	</h2>
		<div>
			<a class="waves-effect waves-light btn" href="/">Início</a>
		</div>

	
</body>
</html>