<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>SisPedidos - Cadastrar Produto</title>
</head>
<body>
	<div class="container">
		<h1>Cadastrar Produto</h1>
		<div class="row">
			<form action="/produtos" method="post" class="col s6">

				<div>
					<label>Nome:</label><input type="text" name="nome">
				</div>

				<div>
					<label>Descrição:</label><input type="text" name="descricao">
				</div>

				<div>
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
					<button class="waves-effect waves-light btn" type="reset">Limpar</button>
				</div>
				
				<h2>Navegação</h2>
				<div>
					<a class="waves-effect waves-light btn" href="/produtos/listar">Produtos cadastrados</a>
					<a class="waves-effect waves-light btn" href="/">Início</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>