<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>SisPedidos - SMEC</title>
</head>
<body>
	<div class="container">
		<h1>SisPedidos - SMEC</h1>

		<h2>Funcionalidades</h2>

		<h2>Almoxarifado</h2>
		<p>
			<a href="/produtos/form">Cadastrar novo produto</a>
		</p>
		<p>
			<a href="produtos/listar">Produtos cadastrados</a>
		</p>
		<p>
			<a href="/pedidos/formBaixaPedido">Pedidos pendentes para dar
				baixa</a>
		</p>

		<h2>Direção escolar</h2>
		<p>
			<a href="/pedidos/form">Realizar pedido</a>
		</p>
		<p>
			<a href="pedidos/listar">Pedidos</a>
		</p>
		
		<h2>Secretario Municipal</h2>
		<p>
			<a href="/usuarios/form">Cadastrar novo usuário</a>
		</p>
	</div>
</body>
</html>