<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>SisPedidos - SMEC</title>
</head>
<body>
	<div class="#e57373 red lighten-2">
	<nav>
   <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img class="responsive-img" src="img/logo.png" height = "150px" width = "150px">SisPedidos - SMEC</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
     
      </ul>
    </div>
  </nav>
 <footer class="page-footer">
          <div class="container"> <br>       
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">SECRETÁRIO MUNICIPAL</h5>
                <p class="grey-text text-lighten-4">Responsável por criar novos usuários.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Funcionalidade:</h5>
                <ul>
                  <li><a class="waves-effect waves-light btn" href="/usuarios/form">Cadastrar novo usuário</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            </div>
          </div>
        </footer>
        
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">DIREÇÃO ESCOLAR</h5>
                <p class="grey-text text-lighten-4">Responsável por realizar e acompanhar pedidos dos materiais escolares.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Funcionalidades:</h5>
                <ul>
                  <li><a class="waves-effect waves-light btn" href="/pedidos/form">Realizar pedido</a></li>
                  <h3></h3>
                  <li><a class="waves-effect waves-light btn" href="/pedidos/listar">Pedidos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            </div>
          </div>
        </footer>
        
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ALMOXARIFADO</h5>
                <p class="grey-text text-lighten-4">Responsável por cadastrar novos produtos e dar baixa de produtos pendentes, além de mostrar os materiais que estão disponíveis para a direção escolar.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Funcionalidades:</h5>
                <ul>
                  <li><a class="waves-effect waves-light btn" href="/produtos/form">Cadastrar novos produtos</a></li>
                  <h3></h3>
                  <li><a class="waves-effect waves-light btn" href="produtos/listar">Produtos cadastrados</a></li>
                  <h3></h3>
                  <li><a class="waves-effect waves-light btn" href="/pedidos/formBaixaPedido">Pedidos pendentes</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            		<a class="waves-effect waves-light btn" href="/logout">Sair</a>
            </div>
          </div>
        </footer>
	</div>
</body>
</html>