<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>SisPedidos - SMEC</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="produto: ${produtos}">
				<td th:text="${produto.id}" />
				<td th:text="${produto.nome}" />
				<td th:text="${produto.descricao}" />
			</tr>
		</tbody>
	</table>
</body>
</html>